.wrapFooter{
    background-color: $bg-footer;
    padding: 15px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    .name{
        p{
            color: $font-color-footer;
            font-size: 16px;
        }
    }
    .redes{
        display: flex;
        gap: 9px;
        a{
            svg{
                width: 22px;
                height: 22px;
                path{
                    transition: .4s all;
                }
            }
            &:hover{
                svg{
                    path{
                        fill: $bg-buttons-redes-hover;
                    }
                }
            }
        }
    }
}